<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>


    .nav-item .icon-container{
      width: 100%;
      display: flex;
    }

    .side-drawer.collapsed .icon-container{
      justify-content: center;
    }


    .side-drawer {
      width: 280px;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #343a40;
      color: #fff;
      padding-top: 1rem;
      transition: width 0.3s ease-in-out;
    }

    .side-drawer.collapsed {
      width: 80px;
    }

    .side-drawer .nav-link {
      color: #fff;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      transition: opacity 0.3s ease-in-out;
    }

    .side-drawer.collapsed .nav-link {
      justify-content: center;
      width: 100%;
      padding: 0.5rem;
    }

    .side-drawer .nav-link i {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      transition: opacity 0.3s ease-in-out;
    }

    .side-drawer.collapsed .nav-link i {
      display: none;
    }

    .side-drawer .nav-link .link-text {
      display: block;
      margin-left: 0.5rem;
      transition: opacity 0.3s ease-in-out;
    }

    .side-drawer.collapsed .nav-link .link-text {
      display: none;
    }

    .side-drawer .menu-toggle {
      width: 100%;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      display: flex;
      justify-content: end;
      padding: 1rem;
    }

    .side-drawer.collapsed .menu-toggle {
      justify-content: center;
    }

    .content {
      margin-left: 280px;
      padding: 1rem;
      transition: margin-left 0.3s ease-in-out;
    }

    .content.collapsed {
      margin-left: 80px;
    }

  </style>
</head>

<body>
<div class="side-drawer <%= adminSettings.collapsedSiteDrawer === true ? 'collapsed' : '' %>">
  <div class="menu-toggle" id="menu-toggle"><i class="fas fa-bars"></i></div>
  <ul class="nav flex-column mt-5">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <div class="icon-container">
          <i class="fas fa-tachometer-alt fa-lg"></i>
          <span class="link-text">Dashboard</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">
        <div class="icon-container">
          <i class="fas fa-users fa-lg"></i>
          <span class="link-text">Users</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/settings">
        <div class="icon-container">
          <i class="fas fa-cogs fa-lg"></i>
          <span class="link-text">Settings</span>
        </div>
      </a>
    </li>
    <!-- Add more menu options here -->
  </ul>
</div>

<div class="content <%= adminSettings.collapsedSiteDrawer === true ? 'collapsed' : '' %>">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% for (let i = 0; i < breadcrumbs.length; i++) { %>
        <% if (breadcrumbs[i].url) { %>
          <% if (i === breadcrumbs.length - 1) { %>
            <li class="breadcrumb-item active" aria-current="page"><%= breadcrumbs[i].label %></li>
          <% } else { %>
            <li class="breadcrumb-item"><a href="<%= breadcrumbs[i].url %>"><%= breadcrumbs[i].label %></a></li>
          <% } %>
        <% } else { %>
          <% if (i === breadcrumbs.length - 1) { %>
            <li class="breadcrumb-item active" aria-current="page"><%= breadcrumbs[i] %></li>
          <% } else { %>
            <li class="breadcrumb-item"><a href="#"><%= breadcrumbs[i] %></a></li>
          <% } %>
        <% } %>
      <% } %>
    </ol>
  </nav>
  <%- include(view,params) %>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<script>
  const sideDrawer = document.querySelector('.side-drawer');
  const content = document.querySelector('.content');
  const menuToggle = document.getElementById('menu-toggle');

  // Function to save the collapse state in local storage
  function saveCollapseState(state) {
    localStorage.setItem('collapseState', state);
  }

  // Function to retrieve the collapse state from local storage
  function getSavedCollapseState() {
    return localStorage.getItem('collapseState');
  }

  // Check if there is a saved collapse state and apply it
  // const savedCollapseState = getSavedCollapseState();
  // if (savedCollapseState === 'collapsed') {
  //   sideDrawer.classList.add('collapsed');
  //   content.classList.add('collapsed');
  // }

  menuToggle.addEventListener('click', function() {
    sideDrawer.classList.toggle('collapsed');
    content.classList.toggle('collapsed');

    // Save the collapse state when the toggle is clicked
    if (sideDrawer.classList.contains('collapsed')) {
      saveCollapseState('collapsed');
    } else {
      saveCollapseState('expanded');
    }
  });
</script>
</body>

</html>
